body {
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
}

#main_div {
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    background-color: rgba(252, 252, 252, 0.85);
    border-radius: 5px;
    padding-top: 20px;
}

#main_div label {
    color: #000000;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  